.section-title, .card__price, .start-screen__title, .catalog__title, .delivery__title, .delivery__subtitle, .about__title, .our-products__title, .contacts__title, .contacts__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.button_secondary, .card__title, .filter__title, .advantages__subtitle, .our-products .article__title, .our-products .article__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.start-screen__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.header__mail, .header__phone, .menu__link, .button_primary, .button_inactive, .card__spec, .footer__section .copyright, .footer__link, .breadcrumbs__link, .filter__label, .advantages__text, .questions__form input, .delivery__text, .steps__round, .steps__text, .about__text, .article-list__link, .our-products .article__text, .our-products .article__list-item, .contacts__adress {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../assets/fonts/Montserrat-Regular.woff2) format("woff2"), url(../assets/fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../assets/fonts/Montserrat-Medium.woff2) format("woff2"), url(../assets/fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../assets/fonts/Montserrat-Bold.woff2) format("woff2"), url(../assets/fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../assets/fonts/Montserrat-ExtraBold.woff2) format("woff2"), url(../assets/fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.section-title {
  position: relative;
  margin: 0;
  padding-left: 10px;
  color: #535353;
}

.section-title::before {
  position: absolute;
  left: 0;
  top: 3px;
  content: '';
  display: block;
  width: 5px;
  height: 80%;
  background-color: #f3c650;
}

.page {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.page__main {
  padding-bottom: 100px;
  background-color: #f4f4f4;
}

.header {
  padding: 10px 0;
  background-color: #316419;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 30px;
}

.header__mail {
  position: relative;
  display: block;
  margin-right: 100px;
  padding: 10px;
  padding-left: 30px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__mail:hover {
  color: #f3c650;
}

.header__mail::before {
  position: absolute;
  left: 7px;
  top: 13px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/mail.svg) no-repeat center;
}

.header__phone {
  position: relative;
  display: block;
  padding: 10px 30px;
  padding-left: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__phone:hover {
  border-color: #f3c650;
  color: #f3c650;
}

.header__phone::before {
  position: absolute;
  left: 17px;
  top: 12px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/phone.svg) no-repeat center;
}

.logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo__image {
  width: 150px;
}

.logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu {
  margin-right: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-right: 25px;
}

.menu__item:last-of-type {
  margin-right: 0;
}

.menu__link {
  display: block;
  padding: 4px;
  border-bottom: 1px solid transparent;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__link_active {
  color: #f3c650;
}

.menu__link_active:hover {
  color: #ffffff;
}

.menu__link:hover {
  border-bottom: 1px solid #ffffff;
}

.button {
  display: inline-block;
  padding: 11px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button_primary {
  background-color: #316419;
  border: 1px solid #316419;
  color: #ffffff;
}

.button_secondary {
  background-color: #f3c650;
  color: #535353;
}

.button_inactive {
  background-color: #ffffff;
  border: 1px solid #535353;
}

.card {
  width: 295px;
  border: 1px solid #ded6d6;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.card__image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 15px;
  color: #535353;
}

.card__spec {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-left: 20px;
  padding-right: 15px;
  list-style: none;
  color: #8c8c8c;
}

.card__spec-item {
  position: relative;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.card__spec-item:last-of-type {
  margin-bottom: 0;
}

.card__spec-item::before {
  position: absolute;
  left: -10px;
  top: 5px;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f3c650;
}

.card__price {
  display: block;
  margin-bottom: 15px;
  padding-left: 15px;
  color: #535353;
}

.card .button {
  width: 100%;
}

.card .button:hover {
  -webkit-transform: none;
          transform: none;
}

.footer {
  padding: 30px 0;
  background-color: #316419;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 45px;
}

.footer__section .copyright {
  padding-left: 10px;
  color: #ffffff;
}

.footer__section .goods {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__section .goods__item {
  margin-bottom: 5px;
}

.footer__section .goods__item:last-of-type {
  margin-bottom: 0;
}

.footer__section .goods__item .footer__link {
  position: relative;
  padding-left: 20px;
}

.footer__section .goods__item .footer__link::before {
  position: absolute;
  left: 5px;
  top: 9px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #f3c650;
}

.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-item {
  margin-bottom: 5px;
}

.footer__menu-item:last-of-type {
  margin-bottom: 0;
}

.footer__link {
  display: block;
  padding: 5px;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link:hover {
  color: #f3c650;
}

.footer .contacts-link {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}

.footer .contacts-link_main {
  padding-left: 5px;
  margin-bottom: 20px;
}

.footer .contacts-link_map::before {
  position: absolute;
  left: 7px;
  top: 5px;
  content: '';
  display: block;
  width: 14px;
  height: 20px;
  background: url(../assets/icons/pin.svg) no-repeat center;
}

.footer .contacts-link_phone::before {
  position: absolute;
  left: 7px;
  top: 7px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/phone.svg) no-repeat center;
}

.footer .contacts-link_mail::before {
  position: absolute;
  left: 6px;
  top: 8px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/mail.svg) no-repeat center;
}

.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
}

.breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__link {
  position: relative;
  display: block;
  margin-right: 20px;
  padding: 5px;
  text-decoration: none;
  color: #8c8c8c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.breadcrumbs__link:hover {
  color: #535353;
}

.breadcrumbs__link::after {
  position: absolute;
  right: -14px;
  top: 12px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #f3c650;
}

.breadcrumbs__link:last-child {
  margin-right: 0;
}

.breadcrumbs__link:last-child::after {
  display: none;
}

.filter {
  width: 270px;
  padding: 15px;
  border: 1px solid #ded6d6;
  background-color: #ffffff;
}

.filter__field {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__field_material {
  margin-bottom: 20px;
}

.filter__field_material .filter__item {
  margin-bottom: 10px;
}

.filter__field_thickness .filter__item {
  height: 33px;
}

.filter__title {
  position: relative;
  font-size: 1.1rem;
  color: #535353;
}

.filter__title::after {
  position: absolute;
  content: '';
  display: block;
  width: 25px;
  height: 25px;
}

.filter__title_material {
  margin-bottom: 10px;
}

.filter__title_material::after {
  right: -115px;
  top: 0px;
  background: url(../assets/icons/filter.svg) no-repeat center/contain;
}

.filter__title_thickness {
  margin-bottom: 20px;
}

.filter__title_thickness::after {
  right: -120px;
  top: 0px;
  background: url(../assets/icons/thickness.svg) no-repeat center/contain;
}

.filter__item input[type="checkbox"] {
  display: none;
}

.filter__item input[type="radio"] {
  display: none;
}

.filter__label {
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.1rem;
  color: #535353;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filter__label:hover {
  color: #f3c650;
}

.filter__label_material {
  padding-left: 30px;
}

.filter__label_material::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #535353;
  border-radius: 2px;
}

.filter__label_material::after {
  position: absolute;
  left: 3px;
  top: 3px;
  content: '';
  display: none;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/check.svg) no-repeat center;
}

.filter__label_thickness {
  display: block;
  height: 100%;
  margin-bottom: 0;
  border: 1px solid #535353;
  border-radius: 2px;
  text-align: center;
  line-height: 33px;
}

.filter__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

#all-materials:checked ~ label::after {
  display: block;
}

#fanera:checked ~ label::after {
  display: block;
}

#dvp:checked ~ label::after {
  display: block;
}

#dsp:checked ~ label::after {
  display: block;
}

#osb:checked ~ label::after {
  display: block;
}

#thickness15:checked ~ label {
  background-color: #f3c650;
}

#thickness20:checked ~ label {
  background-color: #f3c650;
}

#thickness25:checked ~ label {
  background-color: #f3c650;
}

#thickness30:checked ~ label {
  background-color: #f3c650;
}

#thickness35:checked ~ label {
  background-color: #f3c650;
}

#thickness40:checked ~ label {
  background-color: #f3c650;
}

#thickness45:checked ~ label {
  background-color: #f3c650;
}

#thickness50:checked ~ label {
  background-color: #f3c650;
}

input[type="radio"]:checked ~ label:hover {
  color: #535353;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.start-screen {
  background-color: #f4f4f4;
}

.start-screen .container {
  background-image: url(../assets/images/start-screen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.start-screen__content {
  width: 725px;
  padding-left: 50px;
  padding-bottom: 65px;
}

.start-screen__title {
  margin: 0;
  margin-bottom: 45px;
  padding-top: 240px;
  color: #316419;
}

.start-screen__text {
  margin: 0;
  margin-bottom: 30px;
}

.start-screen .button {
  width: 200px;
}

.popular-items {
  padding-top: 40px;
  background-color: #f4f4f4;
}

.popular-items__title {
  margin-bottom: 30px;
}

.popular-items__wrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 45px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.popular-items .catalog-button {
  display: block;
  width: 240px;
  margin: 0 auto;
}

.advantages {
  padding-top: 40px;
  background-color: #f4f4f4;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__wrapper {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  list-style: none;
}

.advantages__item_opend .advantages__subtitle::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.advantages__item_closed .advantages__subtitle::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.advantages__item::after {
  content: '';
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #8c8c8c;
  opacity: 0.6;
}

.advantages__item:last-of-type::after {
  margin-bottom: 0;
}

.advantages__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  color: #535353;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.advantages__subtitle:hover {
  padding-left: 30px;
  color: #f3c650;
}

.advantages__subtitle::after {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(../assets/icons/plus.svg) no-repeat center;
}

.advantages__subtitle::before {
  position: absolute;
  left: -60px;
  top: -10px;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
}

.advantages__text {
  margin: 0;
  margin-bottom: 20px;
  text-align: justify;
  color: #8c8c8c;
}

.advantages__link {
  text-decoration: none;
  color: #f3c650;
}

.advantages__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.sales::before {
  background: url(../assets/icons/cart.svg) no-repeat center/contain;
}

.delivery::before {
  background: url(../assets/icons/delivery.svg) no-repeat center/contain;
}

.saw-cut::before {
  background: url(../assets/icons/saw.svg) no-repeat center/contain;
}

.credit::before {
  background: url(../assets/icons/credit-card.svg) no-repeat center/contain;
}

.reviews::before {
  background: url(../assets/icons/good.svg) no-repeat center/contain;
}

.our-firm {
  padding-top: 40px;
  background-color: #f4f4f4;
}

.questions {
  background-color: #f4f4f4;
}

.questions__title {
  margin-bottom: 60px;
}

.questions__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 730px;
  margin: 0 auto;
}

.questions__form::before {
  position: absolute;
  left: -180px;
  top: -10px;
  content: '';
  display: block;
  width: 133px;
  height: 164px;
  background: url(../assets/icons/question.svg) no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.questions__form:hover::before {
  -webkit-transform: scale(1.04) rotate(-5deg);
          transform: scale(1.04) rotate(-5deg);
}

.questions__form input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #f3c650;
  background-color: #f4f4f4;
}

.questions__form input:last-of-type {
  margin-bottom: 30px;
}

.catalog {
  background-color: #f4f4f4;
}

.catalog__title {
  margin: 0;
  margin-bottom: 40px;
  color: #535353;
}

.catalog__button-block {
  display: none;
  margin-bottom: 40px;
}

.catalog__button-block .button {
  margin-right: 10px;
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.catalog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 20px;
}

.show-more {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 20px;
}

.delivery {
  height: 100%;
  background-color: #f4f4f4;
}

.delivery__title {
  margin: 0;
  margin-bottom: 40px;
  color: #535353;
}

.delivery__button-block {
  margin-bottom: 40px;
}

.delivery__button-block .button {
  margin-right: 10px;
}

.delivery__subtitle {
  margin: 0;
  margin-bottom: 40px;
  color: #535353;
}

.delivery__text {
  margin: 0;
  margin-bottom: 60px;
  text-align: justify;
  text-indent: 30px;
  color: #535353;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.steps__item::after {
  position: absolute;
  right: -192px;
  top: 50px;
  content: '';
  display: block;
  width: 320px;
  height: 0px;
  border: 1px dashed #8c8c8c;
}

.steps__item:last-of-type::after {
  display: none;
}

.steps__round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #f3c650;
  border-radius: 100%;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 10px rgba(255, 201, 79, 0.25);
          box-shadow: 0px 8px 10px rgba(255, 201, 79, 0.25);
  font-size: 2.5rem;
  color: #8c8c8c;
}

.steps__text {
  margin: 0;
  text-align: center;
  color: #535353;
}

.steps__link {
  color: #f3c650;
}

.about {
  height: 100%;
  background-color: #f4f4f4;
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  color: #535353;
}

.about__button-block {
  margin-bottom: 40px;
}

.about__button-block .button {
  margin-right: 10px;
}

.about__content {
  margin-bottom: 50px;
}

.about__text {
  margin: 0;
  text-align: justify;
  color: #535353;
  text-indent: 30px;
}

.article-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.article-list__item {
  position: relative;
  margin-bottom: 10px;
}

.article-list__item:last-of-type {
  margin-bottom: 0;
}

.article-list__item::before {
  position: absolute;
  left: -15px;
  top: 5px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #f3c650;
}

.article-list__link {
  text-decoration: none;
  color: #8c8c8c;
}

.article-list__link:hover {
  color: #f3c650;
}

.our-products__title {
  margin: 0;
  margin-bottom: 40px;
  color: #535353;
}

.our-products__button-block {
  margin-bottom: 40px;
}

.our-products__button-block .button {
  margin-right: 10px;
}

.our-products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.our-products__article-wrapper {
  width: 100%;
  margin-right: 30px;
}

.our-products__image {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.our-products .article__title {
  margin: 0;
  margin-bottom: 10px;
  color: #535353;
}

.our-products .article__subtitle {
  margin: 0;
  margin-bottom: 10px;
  color: #535353;
}

.our-products .article__text {
  margin: 0;
  margin-bottom: 20px;
  text-align: justify;
  text-indent: 30px;
  color: #535353;
}

.our-products .article__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 25px;
}

.our-products .article__list-item {
  margin-bottom: 10px;
  text-align: justify;
  color: #535353;
}

.contacts {
  height: 100%;
  background-color: #f4f4f4;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  color: #535353;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__map {
  margin-right: 150px;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 20px;
  color: #535353;
}

.contacts__adress {
  margin-bottom: 20px;
  color: #535353;
  word-spacing: 0.4em;
}

.map {
  width: 604px;
  border: 2px solid #535353;
}
/*# sourceMappingURL=styles.css.map */