<div class="filter__item">
    <input type="checkbox" id="thickness<%= thick %>" name="thickness" />
    <label class="filter__label filter__label_thickness" for="thickness<%= thick %>"><%= thick %></label><br />
</div>
