<footer class="page__footer footer" id="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__section">
                <a href="/" class="footer__logo logo">
                    <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
                </a>
                <span class="copyright">© osb.by 2022</span>
            </div>
            <div class="footer__section">
                <a href="/catalog" class="footer__link">Каталог товаров</a>
                <ul class="goods">
                    <li class="goods__item"><a href="/catalog#fanera" class="footer__link" data-hash="fanera">Фанера</a></li>
                    <li class="goods__item"><a href="/catalog#dsp" class="footer__link" data-hash="dsp">ДСП</a></li>
                    <li class="goods__item"><a href="/catalog#dvp" class="footer__link" data-hash="dvp">ДВП</a></li>
                    <li class="goods__item"><a href="/catalog#osb" class="footer__link" data-hash="osb">OSB</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a href="/delivery" class="footer__link">Как заказать</a></li>
                    <li class="footer__menu-item"><a href="/delivery" class="footer__link">Оплата</a></li>
                    <li class="footer__menu-item"><a href="/delivery" class="footer__link">Доставка</a></li>
                    <li class="footer__menu-item"><a href="/about" class="footer__link">О компании</a></li>
                    <li class="footer__menu-item"><a href="/contacts" class="footer__link">Как нас найти</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <a href="/contacts" class="footer__link contacts-link contacts-link_main">Контакты</a>
                <a
                        href="https://goo.gl/maps/Pna8Nq3j9Yos6Wyw8"
                        class="footer__link contacts-link contacts-link_map"
                        target="_blank"
                >Наш склад в Минске</a
                >
                <a href="tel:+375296510025" class="footer__link contacts-link contacts-link_phone">+375 (29) 651 00 25</a>
                <a href="mailto:mail@osb.by" class="footer__link contacts-link contacts-link_mail">mail@osb.by</a>
            </div>
        </div>
    </div>
</footer>
