<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Фанера, ДСП, ДВП, OSB, ОСП, Минск, заказать, купить, дерево, стройматериалы" />
    <meta name="description" content="Заказ и покупка фанеры, ДСП, ДВП, OSB, ОСП" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="icon" href="../public/assets/favicon.ico" />
    <link rel="icon" href="../public/assets/favicon.svg" type="image/svg+xml"/>
    <title>osb.by - ДСП, ДВП, OSB, фанера</title>
</head>
