<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="<%= head.keywords %>" />
    <meta name="description" content="<%= head.description %>" />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="icon" href="../public/assets/favicon.ico" />
    <link rel="icon" href="../public/assets/favicon.svg" type="image/svg+xml"/>
    <title><%= head.title %></title>
    <%- head.analytics %>
</head>
