<div class="popup">
    <button class="popup__close"></button>
    <h2 class="order__title">Оставить заявку</h2>
    <form class="order__form" id="order-form">
        <div class="input-wrapper">
            <label style="display: none" for="order-name">Ваше имя:</label>
            <input class="order__name" type="text" name="name" id="order-name" placeholder="Ваше имя" required />
        </div>
        <div class="input-wrapper">
            <label style="display: none" for="order-phone">Ваше телефон:</label>
            <input class="order__phone" type="text" name="phone" id="order-phone" placeholder="Ваш телефон" required />
        </div>
        <label style="display: none" for="order-mail">Ваше email:</label>
        <input class="order__mail" type="email" name="email" id="order-mail" placeholder="Ваш e-mail" />
        <label style="display: none" for="order-mat">Товар:</label>
        <input type="text" id="order-mat" name="material" />
        <div class="order__wrapper">
            <div class="order__number">
                <label for="sheets">Количество листов:</label>
                <input type="number" name="number" id="sheets" value="1" min="1" max="100" />
            </div>
            <div class="order__delivery">
                <span>Способ получения:</span>
                <div class="order__delivery-item">
                    <input type="radio" id="self-deliv" name="delivery" value="Самовывоз" checked />
                    <label class="order__delivery-label" for="self-deliv">Самовывоз</label>
                </div>
                <div class="order__delivery-item">
                    <input type="radio" id="our-deliv" name="delivery" value="Доставка" />
                    <label class="order__delivery-label" for="our-deliv">Доставка</label>
                </div>
            </div>
        </div>
        <button class="button button_secondary" type="submit">Отправить</button>
    </form>
</div>
