<nav class="navbar navbar-expand justify-content-between bg-light navbar-light sticky-top px-4 py-2">
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <h3 class="text-primary"><%= title %></h3>
    <a  href="/logout" class="btn btn-outline-danger m-2">Выйти</a>
</nav>
