<tr>
    <td><img src="../../../public/assets/images/slides/<%= slide.img_src %>" width="300"></td>
    <td><%= slide.img_src %></td>
    <td><a class="btn btn-sm btn-danger" href="">Удалить</a></td>
</tr>
