<tr>
    <td><img src="../../../public/assets/images/slides/<%= slide.img_src %>" width="300"></td>
    <td><%= slide.img_src %></td>
    <td><button class="btn btn-sm btn-danger" data-delete="<%= slide.id %>">Удалить</button></td>
</tr>
