<!DOCTYPE html>
<html lang="ru">
  <%- include('./partials/head', {head}) %>

  <body class="page">
    <%- include('./partials/header', {page: 'about'}) %>

    <main class="page__main">
      <%- include('./partials/breadcrumbs', {crumbs: [{name: 'О нас', link: '/about'}]}) %>

      <section class="about">
        <div class="container">
          <h1 class="about__title">О нас</h1>
          <div class="about__button-block">
            <button class="button button_primary" id="who-we-are">Кто мы</button>
            <button class="button button_inactive" id="about-products">О продукции</button>
          </div>
          <div class="about__content about__content_who-we-are">
            <p class="about__text">
              Наша компания реализует древесные плиты по всей Республике с 1996 г. За эти 25 с лишним лет, мы приобрели
              огромный опыт и лояльную клиентскую базу. Наибольший процент оборота занимают такие материалы, как ДСП,
              ДВП, ОСБ и фанера. Главный приоритет нашей деятельности это предоставление покупателям качественных услуг.
              Если вы выберете нас как поставщика, мы уверены, что от совместной останутся только положительные эмоции!
            </p>
          </div>
          <div class="about__content about__content_about-products visually-hidden">
            <p class="about__text">
              Чтобы раздел "о продукции" был наиболее полезен для прочтения, мы подобрали серию статей, в которых
              описаны основные особенности продаваемых нами материалов:
            </p>
            <ul class="article-list">
              <li class="article-list__item">
                <a
                  href="https://srbu.ru/stroitelnye-materialy/1530-dsp-kharakteristiki.html"
                  target="_blank"
                  class="article-list__link"
                  >Древесно-cтружечная плита (ДСП)</a
                >
              </li>
              <li class="article-list__item">
                <a
                  href="https://stroychik.ru/strojmaterialy-i-tehnologii/dvp"
                  target="_blank"
                  class="article-list__link"
                  >Древесно-волокнистая плита (ДВП)</a
                >
              </li>
              <li class="article-list__item">
                <a
                  href="http://wood-prom.ru/clauses/produkty-iz-drevesiny/osb-fanera"
                  target="_blank"
                  class="article-list__link"
                  >Ориентированно-стружечная плита (ОСП или OSB)</a
                >
              </li>
              <li class="article-list__item">
                <a
                  href="http://wood-prom.ru/clauses/produkty-iz-drevesiny/chto-takoe-fanera-berezovaya"
                  target="_blank"
                  class="article-list__link"
                  >Фанера</a
                >
              </li>
            </ul>
            <p class="about__text">
              Также, краткую справку о предлагаемых нами материалах, можно прочесть ниже, в разделе "Наши товары".
            </p>
          </div>
          <div class="our-products">
            <h2 class="our-products__title">Наши товары:</h2>
            <div class="our-products__button-block">
              <button class="button button_primary" id="fanera">Фанера</button>
              <button class="button button_inactive" id="dsp">Древесно-стружечные плиты</button>
              <button class="button button_inactive" id="dvp">Древесно-волокнистые плиты</button>
              <button class="button button_inactive" id="osb">OSB</button>
            </div>
            <div class="our-products__wrapper">
              <div class="our-products__article-wrapper">
                <article class="our-products__article article" id="fanera-article">
                  <h3 class="article__title">Фанера</h3>
                  <p class="article__text">
                    Сегодня фанера считается одним из наиболее часто применяемых материалов, причём в самом широком
                    спектре строительных работ. Листы фанеры можно использовать как для облицовки фасадной поверхности
                    дома, так и для обустройства стен комнаты, пола и т.д. Фанера бывает разных видов, в зависимости от
                    области применения: облицовочная, строительная а также специализированная. Есть и более
                    специфические материалы как, например, армированная фанера. Фанерное покрытие классифицируется по
                    целому ряду признаков, таких как, материал изготовления, поверхностная обработка и используемая
                    пропитка. Выбирать конкретный материал следует исходя из поставленных задач. К примеру, для
                    изготовления мебели лучше всего подойдут листы фанеры не имеющие пропитки, так как среди
                    предъявлемых к конечному изделию требований, не последнее место занимают безвредность и
                    экологичность.
                  </p>
                  <h4 class="article__subtitle">Сорта отделочной фанеры</h4>
                  <ul class="article__list">
                    <li class="article__list-item">
                      Сорт Е – листы наивысшего качества. Фанерный лист не имеет никаких деформаций, поверхность листа
                      гладкая, без шероховатостей. Повышенные требования к экологичности и содержанию вредных примесей.
                    </li>
                    <li class="article__list-item">
                      1 сорт характеризуется качеством сорта Е, однако, допускается незначительное количество включений.
                    </li>
                    <li class="article__list-item">
                      2 сорт имеет большее количество включений, размеромм не более 2 см, качество материала от этого не
                      страдает. Фанера этого сорта часто применяется для облицовки.
                    </li>
                    <li class="article__list-item">
                      3 сорт может иметь до 10 чревоточин на лист, длина которых варьируется в пределах 5мм.
                    </li>
                    <li class="article__list-item">
                      4 сорт - самый низкий, применяется, как правило, для технических нужд. Требования к количеству
                      дефектов минимальны, при условии, что они оказывают влияние только на внешний вид материала, не
                      затрагивая его механико-прочностные свойства.
                    </li>
                  </ul>
                  <h4 class="article__subtitle">Типы фанерного листа по способу обработки</h4>
                  <ul class="article__list">
                    <li class="article__list-item">
                      ФСФ – это листы, при производстве которых применяется фенолформальдегидная смола. Фанера этого
                      типа обладает повышенной влагоустойчивостью и высокими показателями прочности.
                    </li>
                    <li class="article__list-item">
                      ФК – в роли связующего вещества выступает карбамидный клей. Фанера этого типа чаще всего
                      применяется для обшивки пола, стен а также других внутренних работ.
                    </li>
                    <li class="article__list-item">
                      ФБ – листы на основе бакелитового лака. Тип фанеры, наиболее устойчивый к воздействию агрессивных
                      сред. Может применятся в условиях высокой влажности.
                    </li>
                    <li class="article__list-item">
                      Ламинированная фанера - фанерная плита, подвергшаяся процессу ламинирования. Что придаёт материалу
                      повышенную устойчивость к воздействию влаги и позволяет применять его для возведения опалубк
                    </li>
                    <li class="article__list-item">
                      БС – фанерная плита, которая помимо бакелитового лака пропитывается специальным спиртосодержащим
                      составом. Тип фанеры предназначеченный для узкого круга задач, в частности, используется в
                      авиастроенни.
                    </li>
                  </ul>
                </article>
                <article class="our-products__article article visually-hidden" id="dsp-article">
                  <h3 class="article__title">ДСП</h3>
                  <p class="article__text">
                    Древесно-стружечная плита (ДСП) представляет собой лист, полученный прессованием опилок и клеевой
                    смеси. Для производства ДСП используется как мелкая стружка, так и крупные опилки. Прочность листов
                    ДСП варьируется в зависимости от состава клеевой смеси на основе формальдегида. Влиять на прочность
                    стружечных листов можно также путём различной укладки стружки. Так, плиты OSB (ОСП —
                    ориентировано-стружечные плиты), имеют аналогичный ДСП состав, но повышенную прочность, благодаря
                    послойной ориентированной укладке стружки. При такой укладке, внешние слои стружки размещаются в
                    продольном направлении, а внутренние – в поперечном. Полученные таким образом плиты прочнее и
                    устойчивее к нагрузкам и изгибам, что позволяет расширить область их использования в строительном и
                    мебельном производстве. Вместе с тем обычные стружечные плиты имеют низкую влагостойкость, что
                    определяет основное их назначение: изготовление бюджетной мебели, декоративных элементов, обшивка
                    каркасов, а также подготовка пола к покрытию.
                  </p>
                  <h4 class="article__subtitle">Виды ДСП</h4>
                  <p class="article__text">В зависимости от характера поверхности, различают два сорта ДСП.</p>
                  <p class="article__text">
                    К первому сорту относятся листы с ровной и гладкой поверхностью без дефектов. Такие плиты тщательно
                    шлифуют и ламинируют для дальнейшего использования.
                  </p>
                  <p class="article__text">
                    Ко второму сорту ДСП относятся плиты с небольшими дефектами в виде трещин, незначительных
                    неровностей и расслоения композита. Если дефекты значительные, то такие плиты представляют собой
                    брак, непригодный для работы.
                  </p>
                  <p class="article__text">
                    Стружечные плиты также различаются в зависимости от способа обработки поверхности листа. Например,
                    ДСП общего назначения покрывают специальным слоем для декоративных целей. При этом отшлифованный
                    лист покрывают меламиновой плёнкой и лакируют. Такой процесс называется кашированием, а получаемые
                    плиты — кашированными (КДСП — кашированные древесно-стружечные плиты).
                  </p>
                  <p class="article__text">
                    При другом способе обработки поверхности меламиновая плёнка наносится в условиях высокой температуры
                    и давлении. Этот метод представляет собой ламинирование, а соответствующие плиты имеют аббревиатуру
                    ЛДСП. Поверхность ЛДСП является водоотталкивающей, поэтому такие плиты обрели широкую популярность в
                    изготовлении кухонной и ванной мебели, внутренней отделке.
                  </p>
                </article>
                <article class="our-products__article article visually-hidden" id="dvp-article">
                  <h3 class="article__title">ДВП</h3>
                  <p class="article__text">
                    Древесноволокнистая плита (ДВП) — это плоский лист, полученный прессованием древесных волокон,
                    которые представляют собой отходы пилорамного производства. ДВП широко используются в строительстве
                    и мебельной промышленности. ДВП часто используют для отделки стен, покрытия пола, обшивки деревянных
                    конструкций и обивки мебели. Размер листов ДВП варьируется в широком диапазоне.
                  </p>
                  <h4 class="article__subtitle">Виды ДВП</h4>
                  <ul class="article__list">
                    <li class="article__list-item">Мягкие</li>
                    <li class="article__list-item">Полутвердые</li>
                    <li class="article__list-item">Сверхтвердые</li>
                    <li class="article__list-item">Облагороженные</li>
                  </ul>
                  <p class="article__text">
                    Мягкие. Имеют большую пористость и низкую прочность. В основном применяются при монтаже звуко- и
                    теплоизоляционных систем.
                  </p>
                  <p class="article__text">
                    Полутвёрдые. В сравнении с мягкими, имеют значительно большую плотность и твёрдость, способны
                    выдерживать большие нагрузки. Широко используются в производстве мебельных конструкций: задних
                    стенок, полок, выдвижных ящиков.
                  </p>
                  <p class="article__text">
                    Сверхтвёрдые. Имеют повышенную плотность. Легки в обработке и монтаже. Используются для изготовления
                    арок, дверей, перегородок и различной тары. Также применяются в качестве напольного покрытия.
                  </p>
                  <p class="article__text">
                    Облагороженные. На тщательно обработанную поверхность наносится краситель, после чего ДВП
                    кэшируется. Для придания декоративных свойств на поверхность плиты может быть нанесён рисунок.
                    Большой популярностью пользуются ДВП с имитацией под древесину. Облагороженные ДВП имеют прекрасный
                    внешний вид, но вместе с тем, повышенную стоимость, в сравнении с другими видами ДВП.
                  </p>
                </article>
                <article class="our-products__article article visually-hidden" id="osb-article">
                  <h3 class="article__title">OSB (или ОСП)</h3>
                  <p class="article__text">
                    ОСП (OSB — Oriented Strand Board)— это ориентированно-стружечные плиты, получаемые прессованием
                    древесной щепы вместе с клеевым составом. Благодаря повышенной прочности (в сравнении со
                    стандартными ДСП) и универсальности, объём производства ОСП растёт с каждым годом.
                  </p>
                  <h4 class="article__subtitle">Виды OSB</h4>
                  <ul class="article__list">
                    <li class="article__list-item">
                      ОСП-1. Применяются только при сухих условиях эксплуатации: изготовление каркасов, обшивка мебели,
                      упаковка оборудования, внутренние перегородки в здании.
                    </li>
                    <li class="article__list-item">
                      ОСП-2. Применяются только при сухих условиях эксплуатации для изготовления несущих конструкций.
                    </li>
                    <li class="article__list-item">
                      ОСП-3. Используются для изготовления несущих конструкций в условиях переменной или повышенной
                      влажности как внутри, так и снаружи здания.
                    </li>
                    <li class="article__list-item">
                      ОСП-4. Используются для изготовления различных конструкций, которые эксплуатируются в условиях
                      высокой влажности и больших нагрузок.
                    </li>
                  </ul>
                  <h4 class="article__subtitle">Преимущества OSB</h4>
                  <ul class="article__list">
                    <li class="article__list-item">
                      Высокая прочность. Плиты выдерживают нагрузку от 100 до 300 кг в зависимости от толщины листа.
                      Прочность ОСП значительно превосходит прочность ДСП и фанеры.
                    </li>
                    <li class="article__list-item">Небольшой вес и упругость.</li>
                    <li class="article__list-item">Структурно однородный материал.</li>
                    <li class="article__list-item">Высокие показатели тепло- и звукоизоляции.</li>
                    <li class="article__list-item">
                      Простота работы. Листы ОСП легко режутся, сверлятся, обрабатываются специальными средствами и
                      лакокрасочными покрытиями.
                    </li>
                    <li class="article__list-item">
                      Хорошая гвоздимость (пробиваемость гвоздями или возможность крепления плит гвоздями).
                    </li>
                    <li class="article__list-item">
                      Биостойкость. Специальная пропитка листов позволяет предотвратить появление грибка и плесени.
                    </li>
                    <li class="article__list-item">
                      Высокая способность удерживать крепление (гвозди или шурупы), практически равная способности
                      древесины.
                    </li>
                  </ul>
                </article>
              </div>
              <div class="our-products__image-wrapper">
                <img
                  class="our-products__image"
                  id="img1"
                  src="../public/assets/images/our-products/fanera1.jpeg"
                  alt="Листы фанеры"
                />
                <img
                  class="our-products__image"
                  id="img2"
                  src="../public/assets/images/our-products/fanera2.jpeg"
                  alt="Склад с листами фанеры"
                />
                <img
                  class="our-products__image"
                  id="img3"
                  src="../public/assets/images/our-products/fanera3.jpeg"
                  alt="Производство фанеры"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <div class="popup-fade"></div>

    <script src="../public/js/script.js"></script>
  </body>
</html>
