<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Фанера, ДСП, ДВП, OSB, ОСП, Минск, заказать, купить, дерево, стройматериалы" />
    <meta name="description" content="Заказ и покупка фанеры, ДСП, ДВП, OSB, ОСП" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="../public/assets/favicon.svg" type="image/svg+xml"/>
    <title>Каталог osb.by - ДСП, ДВП, OSB, фанера</title>
  </head>

  <body class="page">
    <header class="page__header header">
      <div class="container">
        <a href="/" class="header__logo logo">
          <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
        </a>
        <a href="tel:+375296510025" class="header__phone header__phone_mobile">+375 (29) 651 00 25</a>
        <div class="burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item menu__item_active">
              <a href="/" class="menu__link">Главная</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link menu__link_active">Каталог</a>
            </li>
            <li class="menu__item">
              <a href="delivery" class="menu__link">Доставка и оплата</a>
            </li>
            <li class="menu__item">
              <a href="about" class="menu__link">О нас</a>
            </li>
            <li class="menu__item">
              <a href="contacts" class="menu__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <a class="header__mail" href="mailto:mail@osb.by">mail@osb.by</a>
        <a class="header__phone" href="tel:+375296510025">+375 (29) 651 00 25</a>
      </div>
    </header>

    <main class="page__main">
      <div class="breadcrumbs">
        <div class="container">
          <a class="breadcrumbs__link" href="/">Главная</a>
          <a class="breadcrumbs__link" href="#">Каталог</a>
        </div>
      </div>
      <section class="catalog">
        <div class="container">
          <h1 class="catalog__title">Каталог</h1>
          <div class="catalog__wrapper">
            <div class="mobile-filter">
              <div class="mobile-filter__fade"></div>
              <div class="mobile-filter__icon"></div>
            </div>
            <form class="catalog__filter filter">
              <fieldset class="filter__field filter__field_material">
                <legend class="filter__title filter__title_material">Материал:</legend>
                <div class="filter__item">
                  <input type="checkbox" id="fanera" name="fanera" />
                  <label class="filter__label filter__label_material" for="fanera">Фанера</label><br />
                </div>

                <div class="filter__item">
                  <input type="checkbox" id="dvp" name="dvp" />
                  <label class="filter__label filter__label_material" for="dvp">ДВП</label><br />
                </div>

                <div class="filter__item">
                  <input type="checkbox" id="dsp" name="dsp" />
                  <label class="filter__label filter__label_material" for="dsp">ДСП</label>
                </div>

                <div class="filter__item">
                  <input type="checkbox" id="osb" name="osb" />
                  <label class="filter__label filter__label_material" for="osb">OSB</label>
                </div>
              </fieldset>
              <fieldset class="filter__field filter__field_thickness">
                <legend class="filter__title filter__title_thickness">Толщина:</legend>
                <div class="filter__group">
                  <div class="filter__item">
                    <input type="checkbox" id="thickness3" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness3">3</label><br />
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness4" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness4">4</label><br />
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness6" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness6">6</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness9" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness9">9</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness10" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness10">10</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness12" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness12">12</label><br />
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness15" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness15">15</label><br />
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness16" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness16">16</label><br />
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness18" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness18">18</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness21" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness21">21</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness22" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness22">22</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness24" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness24">24</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness27" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness27">27</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness30" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness30">30</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness35" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness35">35</label>
                  </div>
                  <div class="filter__item">
                    <input type="checkbox" id="thickness40" name="thickness" />
                    <label class="filter__label filter__label_thickness" for="thickness40">40</label>
                  </div>
                </div>
              </fieldset>
              <button class="button button_secondary button_show-results">Показать</button>
            </form>
            <div class="catalog__content">
              <div class="card" data-thickness="thickness3" data-material="fanera">
                <img src="../public/assets/images/cards/fanera3-4mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 3 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >20 - 30 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness4" data-material="fanera">
                <img src="../public/assets/images/cards/fanera3-4mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 4 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >23 - 33 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness6" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 6 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >26 - 40 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness9" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 9 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">35 - 40 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness10" data-material="fanera">
                <img src="../public/assets/images/cards/fanera10-12mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 10 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">36 - 43 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="fanera">
                <img src="../public/assets/images/cards/fanera10-12mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">39 - 49 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness15" data-material="fanera">
                <img src="../public/assets/images/cards/fanera15-18mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 15 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">45 - 55 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness18" data-material="fanera">
                <img src="../public/assets/images/cards/fanera15-18mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 18 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">60 - 70 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness21" data-material="fanera">
                <img src="../public/assets/images/cards/fanera21-24mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 21 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">65 - 77 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness4" data-material="fanera">
                <img src="../public/assets/images/cards/fanera3-4mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 4 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">50 - 65 руб. / лист <br />
                (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness6" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 6 мм либо 6,5 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">68 - 100 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness9" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 9 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">79 - 180 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="fanera">
                <img src="../public/assets/images/cards/fanera10-12mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">77 - 210 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness15" data-material="fanera">
                <img src="../public/assets/images/cards/fanera15-18mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 15 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                  <li class="card__spec-item">Размер листа: 2440 * 1220</li>
                </ul>
                <b class="card__price">115 - 180 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness18" data-material="fanera">
                <img src="../public/assets/images/cards/fanera15-18mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 18 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">135 - 290 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness21" data-material="fanera">
                <img src="../public/assets/images/cards/fanera21-24mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 21 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">170 - 200 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness27" data-material="fanera">
                <img src="../public/assets/images/cards/fanera27-30mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 27 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">260 - 280 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness35" data-material="fanera">
                <img src="../public/assets/images/cards/fanera35-40mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 35 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">340 - 360 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness40" data-material="fanera">
                <img src="../public/assets/images/cards/fanera35-40mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФСФ</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 40 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">360 руб. / лист</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness6" data-material="fanera">
                <img src="../public/assets/images/cards/laminate6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 6 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">от 100 руб. / лист</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness9" data-material="fanera">
                <img src="../public/assets/images/cards/laminate6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 9 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">от 120 руб. / лист</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="fanera">
                <img src="../public/assets/images/cards/laminate12-15mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness15" data-material="fanera">
                <img src="../public/assets/images/cards/laminate12-15mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 15 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness18" data-material="fanera">
                <img src="../public/assets/images/cards/laminate18-24mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 18 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness21" data-material="fanera">
                <img src="../public/assets/images/cards/laminate18-24mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 21 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness24" data-material="fanera">
                <img src="../public/assets/images/cards/laminate18-24mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 24 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness27" data-material="fanera">
                <img src="../public/assets/images/cards/laminate27-30mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 27 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness30" data-material="fanera">
                <img src="../public/assets/images/cards/laminate27-30mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 30 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness35" data-material="fanera">
                <img src="../public/assets/images/cards/laminate35-40mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 35 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness40" data-material="fanera">
                <img src="../public/assets/images/cards/laminate35-40mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ламинированная</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 40 мм</li>
                  <li class="card__spec-item">Гладкая / с сеткой (автомобильная)</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness9" data-material="osb">
                <img src="../public/assets/images/cards/osb9-12mm.jpeg" alt="лист osb" class="card__image" />
                <h3 class="card__title">OSB (Ориентированно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 9 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">29 руб. / лист</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness10" data-material="osb">
                <img src="../public/assets/images/cards/osb9-12mm.jpeg" alt="лист osb" class="card__image" />
                <h3 class="card__title">OSB (Ориентированно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 10 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">31,50 руб. / лист</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="osb">
                <img src="../public/assets/images/cards/osb9-12mm.jpeg" alt="лист OSB" class="card__image" />
                <h3 class="card__title">OSB (Ориентированно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                  <li class="card__spec-item">Размер листа: 2440 * 1220</li>
                </ul>
                <b class="card__price">37,40 руб. / лист</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness15" data-material="osb">
                <img src="../public/assets/images/cards/osb15-18mm.jpeg" alt="лист OSB" class="card__image" />
                <h3 class="card__title">OSB (Ориентированно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 15 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2440 * 1220</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness18" data-material="osb">
                <img src="../public/assets/images/cards/osb15-18mm.jpeg" alt="лист OSB" class="card__image" />
                <h3 class="card__title">OSB (Ориентированно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 18 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2440 * 1220</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness22" data-material="osb">
                <img src="../public/assets/images/cards/osb22mm.jpeg" alt="лист OSB" class="card__image" />
                <h3 class="card__title">OSB (Ориентированно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 22 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2440 * 1220</li>
                  <li class="card__spec-item">Размер листа: 2500 * 1250</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="dsp">
                <img src="../public/assets/images/cards/dsp12mm.jpeg" alt="лист ДСП" class="card__image" />
                <h3 class="card__title">ДСП (Древесно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2750 * 1830</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness16" data-material="dsp">
                <img src="../public/assets/images/cards/dsp16mm.jpeg" alt="лист ДСП" class="card__image" />
                <h3 class="card__title">ДСП (Древесно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 16 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2750 * 1830</li>
                  <li class="card__spec-item">Размер листа: 2800 * 2070</li>
                </ul>
                <b class="card__price">от 49 руб. / лист (малый)</b>
                <b class="card__price">от 58 руб. / лист (большой)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness18" data-material="dsp">
                <img src="../public/assets/images/cards/dsp18mm.jpeg" alt="лист ДСП" class="card__image" />
                <h3 class="card__title">ДСП (Древесно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 18 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2750 * 1830</li>
                  <li class="card__spec-item">Размер листа: 2800 * 2070</li>
                </ul>
                <b class="card__price">от 59 руб. / лист (малый)</b>
                <b class="card__price">от 70 руб. / лист (большой)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness22" data-material="dsp">
                <img src="../public/assets/images/cards/dsp22mm.jpeg" alt="лист ДСП" class="card__image" />
                <h3 class="card__title">ДСП (Древесно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 22 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2750 * 1830</li>
                  <li class="card__spec-item">Размер листа: 2800 * 2070</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness3" data-material="dvp">
                <img src="../public/assets/images/cards/dvp.jpeg" alt="лист ДВП" class="card__image" />
                <h3 class="card__title">ДВП (Древесно-волокнистая плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 3.2 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2745 * 1700</li>
                </ul>
                <b class="card__price">21 - 90 руб. / лист<br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <!-- <button class="button button_secondary show-more">Показать ещё</button> -->
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="page__footer footer" id="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__section">
            <a href="/" class="footer__logo logo">
              <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
            </a>
            <span class="copyright">© osb.by 2022</span>
          </div>
          <div class="footer__section">
            <a href="catalog" data-hash="" class="footer__link">Каталог товаров</a>
            <ul class="goods">
              <li class="goods__item">
                <a href="catalog#fanera" data-hash="#fanera" class="footer__link">Фанера</a>
              </li>
              <li class="goods__item">
                <a href="catalog#dsp" data-hash="#dsp" class="footer__link">ДСП</a>
              </li>
              <li class="goods__item">
                <a href="catalog#dvp" data-hash="#dvp" class="footer__link">ДВП</a>
              </li>
              <li class="goods__item">
                <a href="catalog#osb" data-hash="#osb" class="footer__link">OSB</a>
              </li>
            </ul>
          </div>
          <div class="footer__section">
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <a href="delivery" class="footer__link">Как заказать</a>
              </li>
              <li class="footer__menu-item">
                <a href="delivery" class="footer__link">Оплата</a>
              </li>
              <li class="footer__menu-item">
                <a href="delivery" class="footer__link">Доставка</a>
              </li>
              <li class="footer__menu-item">
                <a href="about" class="footer__link">О компании</a>
              </li>
              <li class="footer__menu-item">
                <a href="contacts" class="footer__link">Как нас найти</a>
              </li>
            </ul>
          </div>
          <div class="footer__section">
            <a href="contacts" class="footer__link contacts-link contacts-link_main">Контакты</a>
            <a
              href="https://goo.gl/maps/Pna8Nq3j9Yos6Wyw8"
              class="footer__link contacts-link contacts-link_map"
              target="_blank"
              >Наш склад в Минске</a
            >
            <a href="tel:+375296510025" class="footer__link contacts-link contacts-link_phone">+375 (29) 651 00 25</a>
            <a href="mailto:mail@osb.by" class="footer__link contacts-link contacts-link_mail">mail@osb.by</a>
          </div>
        </div>
      </div>
    </footer>

    <div class="popup">
      <button class="popup__close"></button>
      <h2 class="order__title">Оставить заявку</h2>
      <form class="order__form" action="https://formspree.io/f/mjvzvnak" method="POST" id="order-form">
        <div class="input-wrapper">
          <input class="order__name" type="text" name="name" placeholder="Ваше имя" required />
        </div>
        <div class="input-wrapper">
          <input class="order__phone" type="text" name="phone" placeholder="Ваш телефон" required />
        </div>
        <input class="order__mail" type="email" name="email" placeholder="Ваш e-mail" />
        <input type="text" name="material" />
        <div class="order__wrapper">
          <div class="order__number">
            <label for="sheets">Количество листов:</label>
            <input type="number" name="number" id="sheets" value="1" min="1" max="100" />
          </div>
          <div class="order__delivery">
            <span>Способ получения:</span>
            <div class="order__delivery-item">
              <input type="radio" id="self-deliv" name="delivery" checked />
              <label class="order__delivery-label" for="self-deliv">Самовывоз</label>
            </div>
            <div class="order__delivery-item">
              <input type="radio" id="our-deliv" name="delivery" />
              <label class="order__delivery-label" for="our-deliv">Доставка</label>
            </div>
          </div>
        </div>
        <button class="button button_secondary" type="submit">Отправить</button>
      </form>
    </div>
    <div class="popup-fade"></div>

    <script src="../public/js/script.js"></script>
  </body>
</html>
