<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Фанера, ДСП, ДВП, OSB, ОСП, Минск, заказать, купить, дерево, стройматериалы" />
    <meta name="description" content="Заказ и покупка фанеры, ДСП, ДВП, OSB, ОСП" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="icon" href="../public/assets/favicon.ico" />
    <title>Доставка osb.by - ДСП, ДВП, OSB, фанера</title>
  </head>

  <body class="page">
    <header class="page__header header">
      <div class="container">
        <a href="/" class="header__logo logo">
          <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
        </a>
        <a href="tel:+375296510025" class="header__phone header__phone_mobile">+375 (29) 651 00 25</a>
        <div class="burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item menu__item_active"><a href="/" class="menu__link">Главная</a></li>
            <li class="menu__item"><a href="catalog" class="menu__link">Каталог</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link_active">Доставка и оплата</a></li>
            <li class="menu__item"><a href="about" class="menu__link">О нас</a></li>
            <li class="menu__item"><a href="contacts" class="menu__link">Контакты</a></li>
          </ul>
        </nav>
        <a class="header__mail" href="mailto:mail@osb.by">mail@osb.by</a>
        <a class="header__phone" href="tel:+375296510025">+375 (29) 651 00 25</a>
      </div>
    </header>

    <main class="page__main">
      <div class="breadcrumbs">
        <div class="container">
          <a class="breadcrumbs__link" href="/">Главная</a>
          <a class="breadcrumbs__link" href="#">Доставка и оплата</a>
        </div>
      </div>
      <section class="delivery">
        <div class="container">
          <h1 class="delivery__title">Доставка и оплата</h1>
          <div class="delivery__button-block">
            <button class="button button_primary" id="individual">Физическим лицам</button>
            <button class="button button_inactive" id="entity">Юридическим лицам</button>
          </div>
          <div class="delivery__content">
            <h2 class="delivery__subtitle delivery__subtitle_individual">По Минску</h2>
            <p class="delivery__text delivery__text_individual">
              Просим вас уточнить возможные дополнительные нюансы, вроде подъёма на этаж или разгрузки механизированным
              способом так как это может повлиять на стоимость или комплектацию заказа.
            </p>
            <h2 class="delivery__subtitle delivery__subtitle_entity visually-hidden">По Беларуси</h2>
            <p class="delivery__text delivery__text_entity visually-hidden">
              При подтверждении заказа не забудьте пожалуйста согласовать с менеджером способ разгрузки товара, а так же
              уточните пожалуйста повторно различия фактического и юридического адреса доставки, если такие имеются.
            </p>
            <div class="steps">
              <div class="steps__item">
                <div class="steps__round">1</div>
                <p class="steps__text">
                  Оформляете заявку в <a href="/#questions-form" class="steps__link">форме</a> на нашем сайте.
                  Укажите адрес электронной почты для обратной связи. Либо заявку можно оформить по телефону:
                  <a href="tel:+375296510025" class="steps__link">+375 (29) 651 00 25</a>
                </p>
              </div>
              <div class="steps__item">
                <div class="steps__round">2</div>
                <p class="steps__text">Менеджер оформляет заказ, вы согласовываете порядок доставки и оплаты с ним.</p>
              </div>
              <div class="steps__item">
                <div class="steps__round">3</div>
                <p class="steps__text">Получаете изделие выбранным вами способом</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="page__footer footer" id="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__section">
            <a href="/" class="footer__logo logo">
              <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
            </a>
            <span class="copyright">© osb.by 2022</span>
          </div>
          <div class="footer__section">
            <a href="catalog" class="footer__link">Каталог товаров</a>
            <ul class="goods">
              <li class="goods__item"><a href="catalog#fanera" class="footer__link">Фанера</a></li>
              <li class="goods__item"><a href="catalog#dsp" class="footer__link">ДСП</a></li>
              <li class="goods__item"><a href="catalog#dvp" class="footer__link">ДВП</a></li>
              <li class="goods__item"><a href="catalog#osb" class="footer__link">OSB</a></li>
            </ul>
          </div>
          <div class="footer__section">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a href="./delivery.html" class="footer__link">Как заказать</a></li>
              <li class="footer__menu-item"><a href="./delivery.html" class="footer__link">Оплата</a></li>
              <li class="footer__menu-item"><a href="./delivery.html" class="footer__link">Доставка</a></li>
              <li class="footer__menu-item"><a href="about" class="footer__link">О компании</a></li>
              <li class="footer__menu-item"><a href="contacts" class="footer__link">Как нас найти</a></li>
            </ul>
          </div>
          <div class="footer__section">
            <a href="contacts" class="footer__link contacts-link contacts-link_main">Контакты</a>
            <a
              href="https://goo.gl/maps/Pna8Nq3j9Yos6Wyw8"
              class="footer__link contacts-link contacts-link_map"
              target="_blank"
              >Наш склад в Минске</a
            >
            <a href="tel:+375296510025" class="footer__link contacts-link contacts-link_phone">+375 (29) 651 00 25</a>
            <a href="mailto:mail@osb.by" class="footer__link contacts-link contacts-link_mail">mail@osb.by</a>
          </div>
        </div>
      </div>
    </footer>

    <div class="popup-fade"></div>

    <script src="../public/js/script.js"></script>
  </body>
</html>
