<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Фанера, ДСП, ДВП, OSB, ОСП, Минск, заказать, купить, дерево, стройматериалы" />
    <meta name="description" content="Заказ и покупка фанеры, ДСП, ДВП, OSB, ОСП" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="icon" href="../public/assets/favicon.ico" />
    <title>Главная osb.by - ДСП, ДВП, OSB, фанера</title>
  </head>

  <body class="page">
    <header class="page__header header">
      <div class="container">
        <a href="#" class="header__logo logo">
          <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
        </a>
        <a href="tel:+375296510025" class="header__phone header__phone_mobile">+375 (29) 651 00 25</a>
        <div class="burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item menu__item_active"><a href="#" class="menu__link menu__link_active">Главная</a></li>
            <li class="menu__item"><a href="catalog" class="menu__link">Каталог</a></li>
            <li class="menu__item"><a href="delivery" class="menu__link">Доставка и оплата</a></li>
            <li class="menu__item"><a href="about" class="menu__link">О нас</a></li>
            <li class="menu__item"><a href="contacts" class="menu__link">Контакты</a></li>
          </ul>
        </nav>
        <a class="header__mail" href="mailto:mail@osb.by">mail@osb.by</a>
        <a class="header__phone" href="tel:+375296510025">+375 (29) 651 00 25</a>
      </div>
    </header>

    <main class="page__main">
      <section class="start-screen">
        <div class="container">
          <div class="menu-fade"></div>
          <div class="start-screen__wrapper">
            <div class="start-screen__content">
              <h1 class="start-screen__title">osb.by - Продажа древесных плит (Фанера, ДСП, ДВП, OSB)</h1>
              <p class="start-screen__text">
                Фирма OSB это современная организация<br />
                с многолетним опытом в сфере продажи стройматериалов
              </p>
              <a href="about" class="button button_primary">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
      <section class="popular-items">
        <div class="container">
          <h2 class="popular-items__title section-title">Популярные товары</h2>
          <div class="popular-items__outer-wrapper">
            <button class="button button_popular-mobile button_popular-mobile-left" disabled></button>
            <button class="button button_popular-mobile button_popular-mobile-right"></button>
            <div class="popular-items__wrapper">
              <div class="card" data-thickness="thickness3" data-material="fanera">
                <img src="../public/assets/images/cards/fanera3-4mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 3 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >20 -30 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness6" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 6 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price"
                  >26 - 40 руб. / лист <br />
                  (в зависимости от сорта)</b
                >
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness9" data-material="fanera">
                <img src="../public/assets/images/cards/fanera6-9mm.jpeg" alt="лист фанеры" class="card__image" />
                <h3 class="card__title">Фанера ФК</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 9 мм</li>
                  <li class="card__spec-item">Клееная берёзовая</li>
                  <li class="card__spec-item">Размер листа: 1525 * 1525</li>
                </ul>
                <b class="card__price">35 - 40 руб. / лист <br />
                  (в зависимости от сорта)</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
              <div class="card" data-thickness="thickness12" data-material="dsp">
                <img src="../public/assets/images/cards/dsp12mm.jpeg" alt="лист ДСП" class="card__image" />
                <h3 class="card__title">ДСП (Древесно-стружечная плита)</h3>
                <ul class="card__spec">
                  <li class="card__spec-item">Толщина 12 мм</li>
                  <li class="card__spec-item">Листы большого формата</li>
                  <li class="card__spec-item">Размер листа: 2750 * 1830</li>
                </ul>
                <b class="card__price">Цену уточняйте</b>
                <button class="button button_primary button_order">Заказать</button>
              </div>
            </div>
          </div>
          <a href="catalog" class="button button_secondary catalog-button">Перейти а каталог</a>
        </div>
      </section>
      <section class="advantages">
        <div class="container">
          <h2 class="advantages__title section-title">Наши преимущества</h2>
          <ul class="advantages__wrapper">
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle sales">Продаём в розницу и оптом!</h3>
              <p class="advantages__text visually-hidden">
                Не важно, заказываете вы 100 листов или 1 — качество обслуживания и сроки поставки неизменно останутся
                на высоком уровне. При заказе больших объемов может понадобиться несколько дней для подбора материала, в
                то время как доставка небольших заказов обычно осуществляется в течение одного дня.
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle delivery">Доставим в другой город или на 19 этаж!</h3>
              <p class="advantages__text visually-hidden">
                Мы не отказываемся даже от самых сложных по логистике заказов, а наличие транспорта разной
                грузоподъёмности позволяет гибко подходить к расценкам на перевозку. При заказе не забудьте уточнить у
                менеджеров принимающих заказ условия доставки (этажность, наличие лифта или способ разгрузки)
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle saw-cut">Напилим куски нужного размера!</h3>
              <p class="advantages__text visually-hidden">
                Зачем носить и доставлять большие листы, если в итоге вам нужно будет их распилить? Вы можете заказать
                уже напиленый под ваши размеры материал, тем самым сберечь свое время, а иногда и сэкономить на
                доставке. Наличие на складе современного оборудования позволяет достичь погрешности реза не более 1.5 мм
                без учёта длины фрагмента.
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle credit">Бери сейчас, плати потом!</h3>
              <p class="advantages__text visually-hidden">
                Мы предоставляем рассрочку на крупные заказы. Благодаря программе Беларусбанка
                <a class="advantages__link" href="https://most.belarusbank.by/">"Мост"</a> вы можете получить рассрочку
                на выбранный вами заказ. Подробности уточняйте у менеджеров.
              </p>
            </li>
            <li class="advantages__item advantages__item_closed">
              <h3 class="advantages__subtitle reviews">Ни одного плохого отзыва!</h3>
              <p class="advantages__text visually-hidden">
                За долгие годы работы благодаря мягкому подходу к решению любых спорных ситуаций мы наработали большую
                базу постоянных клиентов, одним из которых можете стать и Вы! Отзывы о компании можете почитать
                <a class="advantages__link" href="#">тут</a>.
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="our-firm">
        <div class="container">
          <h2 class="our-firm__title section-title">Наши товары</h2>
          <div class="slider">
            <div class="slider__item">
              <img data-lazy="../public/assets/images/slides/dvp-slide.jpeg" alt="Листы ДВП" class="slider__image" />
            </div>
            <div class="slider__item">
              <img data-lazy="../public/assets/images/slides/osb-slide.jpeg" alt="Листы ОСП" class="slider__image" />
            </div>
            <div class="slider__item">
              <img data-lazy="../public/assets/images/slides/dvp2-slide.jpeg" alt="Листы ДВП" class="slider__image" />
            </div>
            <div class="slider__item">
              <img data-lazy="../public/assets/images/slides/fanera-slide.jpeg" alt="Листы фанеры" class="slider__image" />
            </div>
          </div>
        </div>
      </section>
      <section class="questions">
        <div class="container">
          <h2 class="questions__title section-title">Хотите оставить заявку или нужна консультация?</h2>
          <form class="questions__form" action="https://formspree.io/f/mbjbjnzr" method="POST" id="questions-form">
            <div class="input-wrapper">
              <input class="questions__name" type="text" name="name" placeholder="Ваше имя" required />
            </div>
            <div class="input-wrapper">
              <input class="questions__phone" type="text" name="phone" placeholder="Ваш телефон" required />
            </div>
            <input class="questions__mail" type="email" name="email" placeholder="Ваш e-mail" />
            <input class="questions__text" type="text" name="message" placeholder="Сообщение " />
            <button class="button button_secondary" type="submit">Отправить</button>
          </form>
        </div>
      </section>
    </main>

    <footer class="page__footer footer" id="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__section">
            <a href="#" class="footer__logo logo">
              <img class="logo__image" src="../public/assets/icons/beaver.svg" alt="Логотип компании osb.by" />
            </a>
            <span class="copyright">© osb.by 2022</span>
          </div>
          <div class="footer__section">
            <a href="catalog" class="footer__link">Каталог товаров</a>
            <ul class="goods">
              <li class="goods__item"><a href="catalog#fanera" class="footer__link">Фанера</a></li>
              <li class="goods__item"><a href="catalog#dsp" class="footer__link">ДСП</a></li>
              <li class="goods__item"><a href="catalog#dvp" class="footer__link">ДВП</a></li>
              <li class="goods__item"><a href="catalog#osb" class="footer__link">OSB</a></li>
            </ul>
          </div>
          <div class="footer__section">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a href="delivery" class="footer__link">Как заказать</a></li>
              <li class="footer__menu-item"><a href="delivery" class="footer__link">Оплата</a></li>
              <li class="footer__menu-item"><a href="delivery" class="footer__link">Доставка</a></li>
              <li class="footer__menu-item"><a href="about" class="footer__link">О компании</a></li>
              <li class="footer__menu-item"><a href="contacts" class="footer__link">Как нас найти</a></li>
            </ul>
          </div>
          <div class="footer__section">
            <a href="contacts" class="footer__link contacts-link contacts-link_main">Контакты</a>
            <a
              href="https://goo.gl/maps/Pna8Nq3j9Yos6Wyw8"
              class="footer__link contacts-link contacts-link_map"
              target="_blank"
              >Наш склад в Минске</a
            >
            <a href="tel:+375296510025" class="footer__link contacts-link contacts-link_phone">+375 (29) 651 00 25</a>
            <a href="mailto:mail@osb.by" class="footer__link contacts-link contacts-link_mail">mail@osb.by</a>
          </div>
        </div>
      </div>
    </footer>

    <div class="popup">
      <button class="popup__close"></button>
      <h2 class="order__title">Оставить заявку</h2>
      <form class="order__form" action="https://formspree.io/f/mjvzvnak" method="POST" id="order-form">
        <div class="input-wrapper">
          <input class="order__name" type="text" name="name" placeholder="Ваше имя" required />
        </div>
        <div class="input-wrapper">
          <input class="order__phone" type="text" name="phone" placeholder="Ваш телефон" required />
        </div>
        <input class="order__mail" type="email" name="email" placeholder="Ваш e-mail" />
        <input type="text" name="material" />
        <div class="order__wrapper">
          <div class="order__number">
            <label for="sheets">Количество листов:</label>
            <input type="number" name="number" id="sheets" value="1" min="1" max="100" />
          </div>
          <div class="order__delivery">
            <span>Способ получения:</span>
            <div class="order__delivery-item">
              <input type="radio" id="self-deliv" name="delivery" checked />
              <label class="order__delivery-label" for="self-deliv">Самовывоз</label>
            </div>
            <div class="order__delivery-item">
              <input type="radio" id="our-deliv" name="delivery" />
              <label class="order__delivery-label" for="our-deliv">Доставка</label>
            </div>
          </div>
        </div>
        <button class="button button_secondary" type="submit">Отправить</button>
      </form>
    </div>
    <div class="popup-fade"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>
