.footer
	padding: 30px 0
	background-color: $green
	&__wrapper
		display: flex
		justify-content: space-between
	&__logo
		display: block
		margin-bottom: 45px
	&__section
		.copyright
			@extend %regular
			color: $light
		.goods
			margin: 0
			padding: 0
			list-style: none
			&__item
				margin-bottom: 5px
				&:last-of-type
					margin-bottom: 0
				.footer__link
					position: relative
					padding-left: 20px
					&::before
						position: absolute
						left: 5px
						top: 9px
						content: ''
						display: block
						width: 8px
						height: 8px
						border-radius: 100%
						background-color: $orange
	&__menu
		margin: 0
		padding: 0
		list-style: none
		&-item
			margin-bottom: 5px
			&:last-of-type
				margin-bottom: 0
	&__link
		@extend %regular
		display: block
		padding: 5px
		font-size: 0.8rem
		text-decoration: none
		color: $light
		transition: all 0.3s ease
		&:hover
					color: $orange
	.contacts-link
		position: relative
		margin-bottom: 10px
		padding-left: 25px
		&_main
			padding-left: 5px
			margin-bottom: 20px
		&_map
			&::before
				position: absolute
				left: 7px
				top: 3px
				content: ''
				display: block
				width: 14px
				height: 20px
				background: url(../assets/icons/pin.svg) no-repeat center
		&_phone
			&::before
				position: absolute
				left: 7px
				top: 6px
				content: ''
				display: block
				width: 16px
				height: 16px
				background: url(../assets/icons/phone.svg) no-repeat center
		&_mail
			&::before
				position: absolute
				left: 6px
				top: 6px
				content: ''
				display: block
				width: 16px
				height: 16px
				background: url(../assets/icons/mail.svg) no-repeat center
