.menu
	margin-right: auto
	&__list
		display: flex
		margin: 0
		padding: 0
		list-style: none
	&__item
		margin-right: 25px
		&:last-of-type
			margin-right: 0
	&__link
		@extend %regular
		display: block
		padding: 4px
		border-bottom: 1px solid transparent
		color: $light
		text-decoration: none
		transition: all 0.3s ease
		&_active
			color: $orange
			&:hover
				color: $light
		&:hover
			border-bottom: 1px solid $light
