.about
  background-color: $page
  &__title
    @extend %extra-bold
    margin: 0
    margin-bottom: 40px
    color: $dark
  &__button-block


  &__content


  &__text


.container

.button
  &_primary


.our-products

  &__button-block


  &__image-wrapper


