.catalog
	background-color: $page
	&__title
		@extend %extra-bold
		margin: 0
		margin-bottom: 40px
		color: $dark
	&__button-block
		margin-bottom: 40px
	&__wrapper

	&__content
		display: grid
		grid-template-columns: repeat(3, 1fr)
		row-gap: 20px
