.delivery
	background-color: $page
	&__title
		@extend %extra-bold
		margin: 0
		margin-bottom: 40px
		color: $dark
	&__button-block
		margin-bottom: 40px
		.button
			margin-right: 10px

//   &__minsk


//   &__text


// .container

// .button
//   &_primary


// .minsk-title

// .steps

//   &__item


//   &__


//     &_round

//   &__text


